.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 1rem;
  margin: 1rem;
  /* background-color: red; */
  perspective: 300px;
}

img {
  width: 240px;
  height: 320px;
}

.card {
  width: 100%;
  max-width: 300px;
  /* transform: rotateY(45deg); */
}

.card img {}

.star-rating {
  font-size: 24px;
}

.star {
  font-size: 2rem;
  display: inline-block;
  position: relative;
}

.star::before {
  content: '☆';
  color: #ddd;
}

.star.filled::before {
  content: '★';
  color: #FFD700;
}

[data-integer="1"] {
  .star {
    &:nth-of-type(1) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}

[data-integer="2"] {
  .star {
    &:nth-of-type(-n + 2) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }

  &:nth-of-type(3) {
    &::after {
      content: '★';
      color: #FFD700;
      width: calc(100% * var(--decimal));
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }
}

[data-integer="3"] {
  .star {
    &:nth-of-type(-n + 3) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}

[data-integer="4"] {
  .star {
    &:nth-of-type(-n + 4) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}

[data-integer="5"] {
  .star {
    &:nth-of-type(-n + 5) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}

[data-integer="6"] {
  .star {
    &:nth-of-type(-n + 6) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}



[data-integer="7"] {
  .star {
    &:nth-of-type(-n + 7) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
    &:nth-of-type(8) {
     &::after {
      content: '★';
      color: #FFD700;
      width: calc(100% * var(--decimal));
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    }
  }
}


[data-integer="8"] {
  .star {
    &:nth-of-type(-n + 8) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
    &:nth-of-type(9) {
     &::after {
      content: '★';
      color: #FFD700;
      width: calc(100% * var(--decimal));
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    }
  }
}

[data-integer="9"] {
  .star {
    &:nth-of-type(-n + 9) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}

[data-integer="10"] {
  .star {
    &:nth-of-type(-n + 10) {
      &::before {
        content: '★';
        color: #FFD700;
      }
    }
  }
}



/* .star.half::before {
  content: '☆';
}

.star.half::after {
  content: '★';
  color: #FFD700;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
} */